$yellow-light: #f8f5e0;
$yellow-dark: #f5dc00;

$green-light: #d5faea;
$green-dark: #04804a;

$blue-light: #b9d2f5;
$blue-dark: #0556c7;

$purple-light: #ead7f8;
$purple-dark: #590099;

$red-light: #fadcdc;
$red-dark: #c70101;

$orange-light: #fae5d1fe;
$orange-dark: #e46e00fe;