$color-1-light: #85fad8;
$color-1-dark: #053225;

$color-2-light: #ffc6cb;
$color-2-dark: #E63946;

$color-3-light: #fa92de;
$color-3-dark: #72195A;

$color-4-light: #bbe9ff;
$color-4-dark: #217094;

$color-5-light: #a8c5ff;
$color-5-dark: #07348d;

$color-6-light: #99fff0;
$color-6-dark: #007765;

:export {
  color1light: $color-1-light;
  color1dark: $color-1-dark;

  color2light: $color-2-light;
  color2dark: $color-2-dark;

  color3light: $color-3-light;
  color3dark: $color-3-dark;

  color4light: $color-4-light;
  color4dark: $color-4-dark;

  color5light: $color-5-light;
  color5dark: $color-5-dark;

  color6light: $color-6-light;
  color6dark: $color-6-dark;
}