@use './colors.scss' as *;

.App {
  text-align: center;
}

h1 {
  transform: skew(10deg, 10deg);
  font-size: 5rem;
  padding: 1.3rem;
}

button {
  z-index: 5;
}

.App-header {
  height: 10rem;
}

.yellow {
  color: $yellow-dark;
}

.yellow-theme {
  background-color: $yellow-light;
}

.green {
  color: $green-dark;
}

.green-theme {
  background-color: $green-light;
}

.blue {
  color: $blue-dark;
}

.blue-theme {
  background-color: $blue-light;
}

.purple {
  color: $purple-dark;
}

.purple-theme {
  background-color: $purple-light;
}

.red {
  color: $red-dark;
}

.red-theme {
  background-color: $red-light;
}

.orange {
  color: $orange-dark;
}

.orange-theme {
  background-color: $orange-light;
}

.shape-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  font-size: 3rem;
  margin: .3rem;
  height: 5rem;
  min-width: 4rem;
}

.hero-shape-container {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giant-shape {
  font-size: 20rem;
  background-color: transparent;
}


.spin {
  animation: spinning 3s linear infinite;
  @keyframes spinning {
    to  {
        transform:rotate(360deg);
    }
  }
}



.grow {
  animation: linear infinite 2s growing;
  @keyframes growing {
    0% {
      transform:scale(100%)
    }
    25% {
      transform:scale(120%)
    }
    50% {
      transform:scale(140%)
    }
    75% {
      transform:scale(120%)
    }
    100% {
      transform:scale(100%)
    }
  }
}




.bounce {
  // animation: linear infinite 3s spinning;
  color: turquoise
}

// @keyframes spinning {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
