@use "./colors.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.App {
  text-align: center;
  
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, $color-4-light, $color-6-light, $color-2-light);
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  transform: skew(10deg, 10deg);
  font-size: 5rem;
  padding: 1.3rem;
}

@media(max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

button {
  background-color: lighten($color-4-light, 5%);
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  margin: 0.3rem;
  z-index: 2;
  &:hover {
    box-shadow: -3px 3px 5px 1px $color-4-dark;
    transform: translate(0.2rem, -0.2rem) scale(110%);
    background-color: $color-4-light;
  }
}



.wave-animation span {
  display: inline-block;
  animation: wave 1.3s ease-in-out infinite;
}

.wave-animation {
  z-index: 1;
  position: relative;
  span:nth-of-type(1) {
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  span:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  span:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  span:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  span:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  span:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  span:nth-of-type(8) {
    animation-delay: 0.7s;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em) scale(10%);
  }
  100% {
    transform: translateY(0em);
  }
}

.App-header {
  height: 10rem;
}

.color1 {
  color: $color-1-dark;
}

.color1-theme {
  background-color: $color-1-light;
}

.color2 {
  color: $color-2-dark;
}

.color2-theme {
  background-color: $color-2-light;
}

.color3 {
  color: $color-3-dark;
}

.color3-theme {
  background-color: $color-3-light;
}

.color4 {
  color: $color-4-dark;
}

.color4-theme {
  background-color: $color-4-light;
}

.color5 {
  color: $color-5-dark;
}

.color5-theme {
  background-color: $color-5-light;
}

.color6 {
  color: $color-6-dark;
}

.color6-theme {
  background-color: $color-6-light;
}

.color-picker {
  height: 5rem;
  width: 5rem;
}

.pre-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 10vw;
  // height: 10vw;
}

.shape-container,
.color-container,
.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: .5rem;
}



.shape-preview, .question {
  font-size: 20rem;
  height: 20rem;
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.question {
  animation: fade-in 5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
  }
  to {
    opacity: 100%;
    transform: rotate(0deg);
    // transform-origin: 20% 40%;
  }
}


div.pre-shape > div > div {
  height: 25rem;
  margin-top: 0rem;
}

.reset {
  font-size: 1.3rem;
  border: 0.1rem solid $color-2-dark;
  margin: 1rem;
  &:hover {
    background-color: $color-2-dark;
  }
}

.shape {
  font-size: 3rem;
  margin: 0.3rem;
  height: 5rem;
  min-width: 4rem;
  content: '\25B8';
}

.animation-options-container {
  z-index: 5;
  position: relative;
  border-bottom: .5rem double $color-4-dark;
  border-radius: 2rem;
  padding: .6rem;
  margin: 1.3rem auto;
  width: 50vw;
}

.animation-button {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.animation-button.selected {
  color: lighten($color-4-light, 6%);
  border: 0.1rem double lighten($color-4-light, 6%);
  background-color: $color-4-dark;
}

#hero-shape {
  z-index: 1;
  position: relative;
}

.hero-shape-container {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giant-shape {
  font-size: 20rem;
  background-color: transparent;
  z-index: -1;
}

.spin {
  animation: spinning 3s linear infinite;
  @keyframes spinning {
    to {
      transform: rotate(360deg);
    }
  }
}

.grow {
  animation: linear infinite 2s growing;
  @keyframes growing {
    0% {
      transform: scale(100%);
    }
    25% {
      transform: scale(140%);
    }
    50% {
      transform: scale(180%);
    }
    75% {
      transform: scale(140%);
    }
    100% {
      transform: scale(100%);
    }
  }
}

.bounce {
  animation: linear infinite 2s bouncing;
  @keyframes bouncing {
    0% {
      transform: translate(0rem, 0rem);
    }
    25% {
      transform: translate(-8rem, -10rem);
    }
    50% {
      transform: translate(0rem, 0rem);
    }

    75% {
      transform: translate(8rem, -10rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }
}

.skew {
  animation: linear infinite 2s skewing;
  @keyframes skewing {
    0% {
      transform: skew(0deg, 0deg);
    }
    25% {
      transform: skew(-10deg, -30deg);
    }
    50% {
      transform: skew(0deg, 0deg);
    }

    75% {
      transform: skew(10deg, 30deg);
    }
    100% {
      transform: skew(0deg);
    }
  }
}

.flip {
  animation: linear infinite 2s flipping;
  @keyframes flipping {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}
